

<h1>Triangle Checker</h1>
<h2>Enter three values below to see if they make a triangle</h2>
<form action="/result">
  <div class="form-group">
    <label for="a">Enter side:</label>
    <input id="a" name="a" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="b">Enter side:</label>
    <input id="b" name="b" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="c">Enter side:</label>
    <input id="c" name="c" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Submit</button
</form>
